* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*body*/

body{
  background: url("../images/fon1.jpg") 0 0/cover no-repeat;
  
}

.container{
max-width: 1163px;
width: 100%;
margin: 70px auto;
padding-bottom: 50px;
}


/*card*/

.card__item{
  display:flex;
  margin: 15px;

}

.card__image{
  width: 97%;
  height: auto;
  position: relative;
  
}


@media screen and (max-width:1200px){
  .card__item{
    margin-right: 25px;
    margin-left: 25px;
  }
}
  
@media screen and (max-width:990px){
  
}

@media screen and (max-width:770px){
  .card__item{
    margin-right: 30px;
    margin-left: 35px;
    margin-bottom: 20px;

  }

  .card__image{
    width: 90%;
  }
}

@media screen and (max-width:575px){
  .card__item{
    flex-flow: row wrap;
    justify-content: center;
      }

  .card__image{
    margin-bottom: 20px;
  }
  body{
  background: url("../images/fon1.jpg") 0 0/cover;

  }
  
}



